.container {
  text-align: center;
  margin: auto;
  
 border: 3px solid #73AD21;
  padding: 10px;
}

body{
  padding: 0%;
  background-image: url(../img/background.jfif);
}
#footer{
  margin: auto;
  margin-top: 20px;
 
}
a{
  text-decoration: none;
  color: black;
}
button{
  
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
p{
  font-size: 18px;
}
input{
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  
}