h1 {
  
          color: blanchedalmond;
          text-align: center;
}

p{
          color: blanchedalmond;
          text-align: center;
}
cr {
          margin-top: 80px;
}
a{
          text-decoration: none, blanchedalmond;
}
html {
          background-image: url(../img/background.jfif);
          background-repeat: no-repeat;
          background-size: cover;
}
#obshiy {
  
  display: space-between;
}
#bc {
          
        margin-top: 180px;
          background-color: black;
}
button {
  size: 30px;
}